/* Inner Content - Doc Type Picker */

.inner-content__doctypepicker .list-view-layout__sort-handle {
    color: #807c83
}

.inner-content__doctypepicker .inner-content__help-container {
    text-align: right;
    margin-bottom: .5em;
}

.inner-content__doctypepicker i.inner-content__help-icon {
    vertical-align: middle;
    color: #CCC;
}

    .inner-content__doctypepicker i.inner-content__help-icon:hover {
        color: #343434;
    }

.inner-content__doctypepicker .list-view-layout__system {
    width: 100%;
}

/* Inner Content - Doc Type Picker Groups */

.inner-content__doctypepicker .inner-content__groups {
}

.inner-content__doctypepicker .inner-content__group {
    margin-bottom: 30px;
    border: 1px solid #d8d7d9;
}

    .inner-content__doctypepicker .inner-content__group .list-view-add-layout {
        margin: 10px 15px;
    }

.inner-content__doctypepicker .inner-content__group-config {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    background-color: #d8d7d9;
}

.inner-content__doctypepicker .inner-content__group-name {
    flex-grow: 1;
}

.inner-content__doctypepicker .inner-content__group-doctypes {
}


/* Inner Content - Content Overlay Panel */

.inner-content-overlay > .umb-overlay-right > .umb-overlay__form > .umb-overlay-container {
    padding: 0;
    position: static;
}

.inner-content-dialog > .nav-tabs {
    margin: -31px 0 0 20px;
}

.inner-content-pane {
    margin: 30px 20px;
}

    .inner-content-pane .inner-content-pane__group {
        text-transform: uppercase;
        font-size: 12px;
        border-bottom: 1px solid #f3f3f5;
        padding-bottom: 5px;
        margin-top: 20px;
        font-weight: bold;
    }
