<div class="inner-content-pane" ng-controller="Our.Umbraco.InnerContent.Controllers.InnerContentCreateController" ng-cloak>

    <div class="umb-control-group" ng-show="enableFilter">
        <div class="form-search">
            <i class="icon icon-search"></i>
            <input type="text"
                   ng-model="searchTerm"
                   class="umb-search-field search-query input-block-level -full-width-input"
                   localize="placeholder"
                   placeholder="@placeholders_filter"
                   umb-auto-focus
                   no-dirty-check />
        </div>
    </div>

    <h5 ng-show="selectContentType">Select a Content Type</h5>
    <h5 ng-show="selectBlueprint"><localize key="blueprints_selectBlueprint">Select a blueprint</localize></h5>

    <p class="abstract" ng-if="allowedTypes && allowedTypes.length === 0">
        <localize key="create_noDocumentTypes" />
    </p>

    <div ng-repeat="contentTypeGroup in allowedTypes">
        <h6 class="inner-content-pane__group" ng-if="contentTypeGroup.groupName" ng-show="selectContentType">{{ contentTypeGroup.groupName }}</h6>
        <ul class="umb-actions umb-actions-child" ng-show="selectContentType">
            <li data-element="action-create-{{docType.alias}}" ng-repeat="docType in contentTypeGroup.docTypes | filter: searchTerm">
                <a ng-click="createOrSelectBlueprintIfAny(docType)">
                    <i class="large {{docType.icon}}"></i>
                    <span class="menu-label">
                        {{docType.name}}
                        <small>
                            {{docType.description}}
                        </small>
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <ul class="umb-actions umb-actions-child" ng-show="selectBlueprint">

        <li ng-repeat="(key, value) in selectedDocType.blueprints">
            <a ng-click="createFromBlueprint(selectedDocType.key, key)">
                <i class="large {{selectedDocType.icon}}"></i>
                <span class="menu-label">
                    {{value}}
                </span>
            </a>
        </li>

        <li class="sep" ng-show="allowBlank">
            <a ng-click="createBlank(selectedDocType.key)">
                <i class="large {{selectedDocType.icon}}"></i>
                <span class="menu-label">
                    <localize key="blueprints_blankBlueprint">Blank</localize>
                </span>
            </a>
        </li>

    </ul>

</div>